@inject SignInManager<Moneteer.Identity.Domain.Entities.User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item">
        <a class="@ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">Email</a>
    </li>
    <li role="presentation" class="nav-item">
        <a id="change-password" class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">Password</a>
    </li>
    <li role="presentation" class="nav-item">
        <a id="subscription" class="@ManageNavPages.SubscriptionNavClass(ViewContext)" asp-page="./Subscription">Subscription</a>
    </li>
    @*@if (hasExternalLogins)
    {
        <li role="presentation" class="nav-item">
            <a class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a>
        </li>
    }*@
    <li role="presentation" class="nav-item">
        <a class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
    </li>
    <li role="presentation" class="nav-item">
        <a class="@ManageNavPages.PersonalDataNavClass(ViewContext)" asp-page="./PersonalData">Personal data</a>
    </li>
</ul>