@page
@model SubscriptionModel
@{
    ViewData["Title"] = "Subscription";
}
@inject Moneteer.Landing.Helpers.IConfigurationHelper Configuration

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage"></partial>
<div class="row mt-4">
    <div class="col-md-6">
        @{
            if (Model.TrialExpiry > DateTime.UtcNow && Model.SubscriptionExpiry == null)
            {
                <div>
                    Your 30 day trial expires on <strong>@Model.TrialExpiry.ToShortDateString()</strong>.
                </div>
                <div class="mt-3">Purchase a subscription for $2.99 per month to continue using the app once your trial expires.</div>
                <button class="mt-3 btn btn-primary checkout-button">
                    Purchase Subscription
                </button>
            }
            else if (Model.SubscriptionExpiry != null && Model.SubscriptionExpiry > DateTime.UtcNow)
            {
                <div>
                    Your active subscription will renew automatically on <strong>@Model.SubscriptionExpiry!.ToShortDateString()</strong>.
                </div>
                <a asp-page="CancelSubscription" class="mt-3 btn btn-danger">
                    Cancel Subscription
                </a>
            }
            else
            {
                <div>
                    You do not currently have a valid subscription.
                </div>
                <button class="mt-3 btn btn-primary checkout-button">
                    Purchase Subscription
                </button>                
            }

            <div id="error-message"></div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $()
        var stripe = Stripe('@Configuration.Stripe.PublicKey');

        var checkoutButtons = $('.checkout-button');
        
        checkoutButtons.each(function () {
            $(this).click(function () {
                stripe.redirectToCheckout({
                    items: [{
                        plan: '@Configuration.Stripe.SubscriptionPlanId',
                        quantity: 1
                    }],
                    clientReferenceId: '@Model.UserId',
                    customerEmail: '@Model.Email',
                    successUrl: '@Configuration.Stripe.SubscriptionSuccessUrl',
                    cancelUrl: '@Configuration.Stripe.SubscriptionCancelledUrl'
                });
            })
        });
    </script>
}
