@page
@model SubscriptionModel
@{
    ViewData["Title"] = "Subscription";
}
@inject Moneteer.Landing.Helpers.IConfigurationHelper Configuration

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage"></partial>
<div class="row mt-4">
    <div class="col-md-6">
        @{
            if (Model.TrialExpiry > DateTimeOffset.Now && Model.SubscriptionExpiry == null)
            {
                <div>
                    Your 30 day trial expires on <strong>@Model.TrialExpiry.LocalDateTime.ToShortDateString()</strong>.
                </div>
                <div class="mt-3">Purchase a subscription to continue using the app once your trial expires.</div>
                <a asp-page="./../PurchaseSubscription" class="mt-3 btn btn-primary">
                    Purchase Subscription
                </a>
            }
            else if (Model.SubscriptionId != null && Model.SubscriptionExpiry != null && Model.SubscriptionExpiry > DateTimeOffset.Now)
            {
                <div>Subscription Status: <strong>@Model.SubscriptionStatus</strong></div>
                <div>Subscription Expiry: <strong>@Model.SubscriptionExpiry.Value.LocalDateTime.ToShortDateString()</strong></div>

                @if (Model.SubscriptionStatus.ToLowerInvariant() != "canceled")
                {
                    <a asp-page="./../CancelSubscription" class="mt-3 btn btn-danger">
                        Cancel Subscription
                    </a>
                    
                    <button id="update-payment-method" class="mt-3 btn btn-primary">Update payment method</button>
                }
                else
                {
                    <a asp-page="./../PurchaseSubscription" class="mt-3 btn btn-primary">
                        Purchase New Subscription
                    </a>
                }
            }
            else
            {
                <div>
                    You do not currently have a valid subscription.
                </div>
                <a asp-page="./../PurchaseSubscription" class="mt-3 btn btn-primary">
                    Purchase Subscription
                </a>
            }

            if (Model.Invoices != null && Model.Invoices.Count() > 0)
            {
                <div class="mt-4" id="invoices">
                    <h5>Invoices</h5>
                    <table class="table mt-4 ml-3">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var invoice in Model.Invoices)
                            {
                                <tr>
                                    <th>@invoice.Number</th>
                                    <td>@invoice.Created.ToShortDateString()</td>
                                    <td>$@(invoice.AmountDue / 100d)</td>
                                    <td>@invoice.Status</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    @if (Model.Invoices.HasMore)
                    {
                        <button class="btn btn-link">Get More...</button>
                    }
                </div>

            }

            <div id="error-message"></div>
        }
    </div>
</div>

@section Scripts {
    <script>
        var stripe = Stripe('@Configuration.Stripe.PublicKey');

        var checkoutButton = $('#update-payment-method');

        checkoutButton.click(function () {
            stripe.redirectToCheckout({
                sessionId: '@ViewData["StripeSessionId"]'
            }).then(function(result) {
                if (!!result.error && !!result.error.message) {
                    $('#error-message').innerText = result.error.message
                }
            });
        });
    </script>
}
